html{
    box-sizing: border-box;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}

ul{
    list-style: none;
}



.header__inner{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 13.5%;
    background-color: rgba(0, 0, 0, 0.8); 
    z-index: 1; 
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f4f4;
    font-family: 'Raleway', sans-serif;
  }

  .menu-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #FFFFFF;
  }

  
  
  .menu-list li {
    margin: 0 41px;
  }
  
  .menu-list a {
    text-decoration: none;
    color: inherit;
  }
  
  .logo {
    margin: 0 62px; 
  }
  
  .logo img {
    height: 140px; 
  }

  .menu-item:hover {
    transition: color 0.4s ease; 
    color: red; 
    cursor: pointer;
  }


  .user-actions{
    position: absolute;
    top: 20px;
    right: 200px;
    font-size: 18px;
    color: #FFFFFF;
    display: flex; 
    flex-direction: column; 
}
.user-actions a{
    text-decoration: none;
    color: inherit;
    display: block; 
    padding: 10px; 
}
.user-actions__item:last-child .user-actions__link{
    text-decoration: underline;
}

.user-actions a:hover{
    transition: color 0.4s ease; 
    color: red; 
    cursor: pointer;
}

.full-screen-image {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.full-screen-image img {
  width: 100%;
  height: 100%;

  display: block;
}

.line {
  width: 100%;
  height: 20px;
  background-color: red;
  position: absolute; /* Абсолютное позиционирование внутри контейнера */
  bottom: 0.5px; /* Позиционируем линию внизу контейнера */
}


.overlay {
  width: 100%;
  height: 200px; /* Высота прямоугольника */
  position: absolute; /* Абсолютное позиционирование внутри контейнера */
  bottom: 20px; /* Поднимаем над линией */
  background-color: rgba(13, 13, 13, 0.8); /* Прозрачный белый цвет */
}

.centered-text {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-family: 'Lato';
  font-size: 42px;
  text-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}

.slider {
  display: flex;
  overflow-x: hidden;
}

.slide {
  flex: 0 0 100%; /* Каждый слайд занимает всю ширину контейнера */
  text-align: center; /* Центрируем содержимое */
  color: #ccc;
  margin-top: 20px; /* Уменьшаем верхний отступ */
  user-select: none; /* Запрещаем выделение текста */
}

/* Стили для квадратиков */
.squares-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.square {
    width: 20px;
    height: 20px;
    margin: 0 5px;
    background-color: #ccc; /* Цвет квадратика */
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.5); /* Эффект "горения" */
}

.active {
    background-color: red; /* Цвет квадратика при активации */
    box-shadow: 0 0 20px rgba(255, 0, 0, 1); /* Усиливаем эффект "горения" */
}

.product-block {
  margin-top: 20px;
  padding: 20px;

  width: 100%; /* Выберите подходящую ширину блока */
  margin: 0 auto; /* Центрируем блок по горизонтали */
  background-color: #fff;
  position: absolute; /* Абсолютное позиционирование */
  bottom: -940px; /* Отодвигаем блок вниз на нужное расстояние */
  left: 50%; /* Размещаем блок по центру горизонтально */
  transform: translateX(-50%); 
}
.product-title {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center; /* Выравнивание текста по центру */
}
.product-description {
  font-size: 22px;
  margin-bottom: 20px;
  text-align: center; /* Выравнивание текста по центру */
}

.product-slider {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 40px; /* Отступ сверху для фотографий */
}

.product-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 111px; /* Отступы сверху/снизу 10px, слева/справа 15px */
}



.product-image img {
  width: 100%;
  height: auto;
}

.image-description {
  margin-top: 10px;
  text-align: center;
}

.product-button {
  display: block;
  margin: 20px auto; /* Отступ сверху и снизу 20px, выравниваем по центру */
  padding: 10px 20px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 28px;
  cursor: pointer;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
}

.product-button:hover {

  transform: scale(1.1);
}