html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

.no-scroll {
  overflow: hidden;
}

p,
a,
h2 {
  font-family: "Lato", sans-serif;
  font-weight: 400;
}
img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 25px;
  margin: auto;
}

ul {
  list-style: none;
  padding: 0;
}

.header {
  padding: 10px 0px;
  background-color: rgba(13, 13, 13, 0.8);
  width: 100%;
  position: relative;
  z-index: 10;
}

.header_wrap,
.header_logo {
  display: flex;
  align-items: center;
  justify-content: start;
}

.header_info {
  display: flex;
  flex-direction: column;
  justify-content: end;
  z-index: 11;
}

.header_logo {
  margin-left: 250px;
  margin-right: 80px;
}

.header_menu ul {
  display: flex;
  gap: 70px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.header_menu ul li a {
  display: block;
  font-weight: 400;
  font-size: 22px;
  letter-spacing: 0.1px;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
}

.header_menu ul li a.phone-number {
  font-size: 14px;
}

.header_menu li.menu_contact a.hover-effect:hover {
  color: red;
  text-decoration: underline;
}

.header_menu li.menu_contact {
  margin-bottom: -10px;
}

.header_menu ul li a:hover {
  transition: color 0.4s ease;
  color: red;
  cursor: pointer;
}

.image_blok {
  margin-top: -120px;
  position: relative;
}

.full-image {
  position: relative;
  z-index: -1;
  width: 100%;
  height: 98vh;
  background-size: cover;
  background-position: center;
}

.full-image img {
  width: 100%;
  height: 98vh;
  display: block;
}

.overlay {
  position: absolute;
  bottom: 18px;
  left: 0;
  width: 100%;
  height: 120px;
  background-color: rgba(13, 13, 13, 0.8);
  z-index: 1; 
}

.centered-text {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-family: "Lato";
  font-size: 42px;
  line-height: 60px;
  text-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}

.slider {
  display: flex;
  overflow-x: hidden;
}

.slide {
  flex: 0 0 100%;
  text-align: center;
  color: #ccc;
  margin-top: 20px;
  user-select: none;
}

.squares-container {
  display: flex;
  justify-content: center;
  margin-top: -5px;
}

.square {
  width: 20px;
  height: 20px;
  margin: 0 5px;
  background-color: #ccc;
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
}

.active {
  background-color: red;
  box-shadow: 0 0 20px rgba(255, 0, 0, 1);
}

.line {
  display: block;
  width: 100%;
  height: 20px;
  background-color: red;
  z-index: 10;
}

.product-block {
  margin-top: 20px;
  padding: 20px;
  width: 100%;
  max-width: 1700px;
  margin: 0 auto;
  background-color: #fff;
}
.product-title {
  margin-top: 10px;
  font-size: 48px;
  font-weight: bold;
  text-align: center;
}
.product-description {
  font-size: 22px;
  margin-bottom: 20px;
  text-align: center;
}

.product-slider {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 40px;
}

.product-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 111px;
}
.product-image img {
  width: 100%;
  height: auto;
}

.image-description {
  margin-top: 10px;
  text-align: center;
}

.product-button {
  margin: 20px auto;
  padding: 10px 20px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 28px;
  cursor: pointer;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  display: block;
}

.product-button:hover {
  transform: scale(1.1);
}
.red-line {
  width: 100%;
  height: 10px;
  background-color: red;
  margin-top: 20px;
}
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.about-block {
  margin-top: 20px;
  padding: 20px;
  max-width: 1700px;
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
}
.about-title {
  margin-top: -10px;
  font-size: 48px;
  font-weight: bold;

  text-align: center;
}
.about-description {
  font-size: 22px;
  margin-bottom: 20px;
  text-align: center;
}
.photo-gallery {
  display: flex;
  justify-content: space-between;
}

.photo {
  width: 500px;
  height: auto;
  margin-bottom: 20px;
  border-radius: 5px;
  flex-wrap: wrap;
}

.delivery {
  background-color: #fff;
  padding: 20px;
  text-align: center;
}

.delivery-title {
  margin-top: 20px;
  font-size: 48px;
}

.delivery-description {
  font-size: 22px;
}

.delivery-button {
  margin: 20px auto;
  padding: 10px 20px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 28px;
  cursor: pointer;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  display: block;
}

.delivery-button:hover {
  transform: scale(1.1);
}
.contact-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: rgba(13, 13, 13, 0.8);
  border-top: 1px solid #ddd;
}

.contact-title {
  color: #fff;
  font-size: 48px;
  margin-bottom: 80px;
  text-align: center;
  width: 100%;
}

.contact-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1150px;
}

.contact-info {
  flex-direction: column;
  color: #fff;
  font-size: 22px;
}

.contact-info .info-item p {
  margin-bottom: -12px;
}

.contact-info .icon {
  width: 54px;
  height: 54px;
  margin-top: 30px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
}
.contact-form .checkbox-container {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
  color: #fff;
}
.contact-form .checkbox-container input[type="checkbox"] {
  margin-right: 10px;
  width: 20px;
  height: 20px;
}

.contact-form input,
.contact-form textarea {
  width: 70%;
  padding: 10px;
  margin-bottom: 30px;
  border: 1px solid red;
  resize: none;
  outline: none;
}

.contact-form button {
  width: 30%;
  padding: 10px;
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: red;
}

.footer {
  text-align: left;
  padding: 1px;
  background-color: rgba(13, 13, 13, 0.8);
}
.footer p {
  color: #fff;
  margin-left: 40px;
  margin-bottom: 5px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 60px;
  z-index: 13;
}

.modal-content {
  background: linear-gradient(to bottom, #b0b0b0 0%, #939393 100%);
  padding: 20px;
  width: 22vw;
  margin: 0 auto;
  border-radius: 2px;
}

.close {
  color: red;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  cursor: pointer;
}

form {
  background: linear-gradient(to bottom, #b0b0b0 0%, #939393 100%);
  padding: 20px;
}

form input[type="text"],
form input[type="tel"],
form input[type="email"],
form textarea {
  border: 1px solid red;
  padding: 10px;
  width: 16vw;
  margin-bottom: 20px;
}

form input[type="text"]:focus,
form input[type="tel"]:focus,
form input[type="email"]:focus,
form textarea:focus {
  border-color: red;
  box-shadow: none;
  outline: none;
}

button[type="submit"] {
  background-color: red;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  margin: 0 auto;
  margin-top: 20px;
}

#message {
  max-width: 100%;
  width: 17vw;
  height: 5vw;
  resize: none;
  display: inline-block;
  vertical-align: top;
}

@media only screen and (max-width: 768px) {
  .header {
    width: 100%;
    flex-direction: column;
    margin-top: -15px;
  }

  .header_logo {
    margin-left: 5px;
    margin-right: 0px;
  }
  .header_logo {
    width: 150px;
    height: 50px;
  }
  .header_logo img {
    width: 100%;
    height: 100%;
  }

  .header_menu ul {
    margin-left: 50px;
  }

  .header_menu ul li:not(.menu_contact) {
    display: none;
  }

  .header_menu ul li a {
    font-size: 18px;
  }

  .image_blok {
    margin-top: -80px;
  }

  .full-image {
    height: 80vh;
  }

  .overlay {
    position: absolute;
    bottom: 18px;
    height: 100px;
  }

  .square {
    width: 12px;
    height: 12px;
    margin: 0 5px;
    background-color: #ccc;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
  }

  .slide {
    font-size: 10px;
    margin-bottom: 5px;
  }

  .centered-text {
    font-size: 22px;
    line-height: 40px;
    width: 100%;
    text-align: center;
  }

  .product-title {
    font-size: 36px;
  }

  .product-description {
    font-size: 18px;
  }

  .product-slider {
    flex-direction: column;
  }

  .product-item {
    padding: 10px;
  }

  .product-image img {
    width: 100%;
  }
  .red-line {
    margin-left: 0;
    margin-right: 0;
  }

  .about-block {
    padding: 10px;
  }

  .about-title {
    font-size: 36px;
  }

  .about-description {
    font-size: 18px;
  }

  .photo-gallery {
    flex-direction: column;
    margin: 0 10px;
  }

  .photo {
    width: 100%;
    margin-bottom: 10px;
  }

  .delivery-block {
    padding: 10px;
  }

  .delivery-title {
    font-size: 36px;
  }

  .delivery-description {
    font-size: 18px;
  }

  .contact-block {
    padding: 10px;
  }

  .contact-title {
    font-size: 36px;
  }

  .contact-content {
    margin-top: -90px;
    flex-direction: column;
  }

  .contact-info {
    margin-bottom: 20px;
  }

  .contact-form {
    margin-left: 10px;
    width: 90%;
  }

  .contact-form input,
  .contact-form textarea {
    width: 100%;
  }

  .footer {
    padding: 1px;
  }

  .footer p {
    margin-left: 5px;
  }

  .modal {
    padding-top: 20px;
  }

  .modal-content {
    width: 80vw;
    padding: 15px;
  }

  form {
    padding: 25px;
  }

  form input[type="text"],
  form input[type="tel"],
  form input[type="email"],
  form textarea {
    width: 55vw;
    margin-bottom: 15px;
  }

  button[type="submit"] {
    padding: 10px 15px;
    font-size: 16px;
  }

  #message {
    width: 75vw;
    height: 15vw;
  }
}
